/*============================================
=        CSS for animation - Week 09         =
= Original Author: Darren Jones              =
= Customized: Alice Smith                    =
=============================================*/

/* Comment out lines 14 & 17 to view javascript animation */

#square {
  margin: 100px;
  width: 100px;
  height: 100px;
  background: #d16;
  animation: spin 20s linear infinite;
}

@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(3600deg); } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin: 10px;
  padding: 10px;
}

#workers {
  display: flex;
  flex-direction: row;
}

#output {
  max-width: 90%;
  word-wrap: break-word;
}