/*=============================================
=         Main Style sheet for Idunn          =
=============================================*/

/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');

h1,
h2 {
  font-family: 'Mate SC', serif;
}

h1 {
  text-align: center;
}

body {
  background-color: #383C4A;
  font-family: "Montserrat", sans-serif;
  padding: 5px 25px;
  font-size: 14px;
  margin: 0;
  color: #D4D5D9;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #D4D5D9;
  color: #383C4A;
  padding: 10px;
  margin: 5px;
}

.indexNav, .nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav  {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav a {
  background-color: #404552;
  color: #D4D5D9;
  font-size: 17px;
  display: block;
  text-align: center;
  text-decoration: none;
  float: left;
  padding: 14px 16px;
}

.nav a:hover {
  background-color: #5a657e;
  cursor: pointer;
}

#active {
  background-color: #5a657e;
}

.navBar .icon {
  display: none;
}

.navBar.responsive .icon {
  position: absolute;
  bottom:0;
}
.navBar.responsive {
  float: none;
  display: block;
  text-align: left;
}

.navBar li:not(:first-child) {display: none;}
  .navBar a.icon {
    float: right;
    display: block;
  }

@media screen and (min-width: 600px) {
  
}

@media screen and (min-width: 600px) {
  
}

button,
button a {
  background-color: #404552;
  color: #D4D5D9;
  border: none;
  padding: 6px 25px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
}

button a {
  display: block;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

footer a,
footer a:visited,
.inLine,
.inLine:visited {
  color: #5294e2;
}

footer {
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
}