/*=============================================
=         Main Style sheet for Idunn          =
= Author: Alice Smith                         =
= Colors based on the arc theme by horst3180  =
= https://github.com/horst3180/arc-theme.git  =
=============================================*/

/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');

h1,
h2,
h3 {
  font-family: 'Mate SC', serif;
}

h1 {
  text-align: center;
}

body {
  background-color: #383C4A;
  font-family: "Montserrat", sans-serif;
  padding: 5px 25px;
  font-size: 14px;
  margin: 0;
  color: #D4D5D9;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #D4D5D9;
  color: #383C4A;
  padding: 10px;
  margin: 5px;
}

footer a,
footer a:visited,
.inLine,
.inLine:visited {
  color: #5294e2;
}

footer {
  padding: 25px;
  display: flex;
  justify-content: center;
  font-style: italic;
}

footer p {
  text-align: center;
  padding: 10px;
}

/*=============================================
=            Navigation                       =
=============================================*/
.indexNav {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin: auto;
  width: 75%;
}

.nav {
  width: 175px;
  list-style: none;
}

.nav a,
.indexNav a {
  background-color: #404552;
  color: #D4D5D9;
  font-size: 24px;
  border: none;
  padding: 6px 25px;
  display: block;
  margin: 3px;
  text-align: center;
  text-decoration: none;
}

.nav a:hover,
.indexNav a:hover {
  background-color: #5a657e;
  cursor: pointer;
}

#active {
  background-color: #5294e2;
  color: #383C4A;
}

#hamburger {
  background-color: #5294e2;
  color: #383C4A;
  border-radius: 2px;
}

#active:hover,
#hamburger:hover {
  background-color: #7ba2d3;
}

/*=============================================
=            Compatibility                    =
=============================================*/
@media screen and (max-width: 730px) {

  header p {
    text-align: center;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }

  footer p {
    padding: 0;
  }

  .divider {
    display: none;
  }


  /* Mobile Nav Settings */

  .indexNav {
    margin: 2px;
    width: 100%;
  }

  .nav {
    display: block;
    list-style: none;
    float: left;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #hamburger {
    display: block;
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding: 10px 11px;
  }
}


/*=============================================
=      Buttons and Small Customizations       =
=============================================*/
button,
.button {
  background-color: #404552;
  color: #D4D5D9;
  border: none;
  padding: 12px 25px;
  margin: 3px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  display: block;
}

button:hover,
.button:hover {
  background-color: #5a657e;
  cursor: pointer;
}